.filter-item .check-control .indicator, .proposal-wrap .proposal .proposal-link-column .proposal-link, .proposal-wrap .proposal .proposal-link-column, .arrow-up, .news-link, .brand-box, .product-list, .slider-product-options .slick-arrow, .card .card-actions .card-basket, .card .card-charasters .card-credit,
.card .card-charasters .card-power,
.card .card-charasters .card-voltage, .coin .coin-price span, .coin, .info-box .info-content .info-users, .banner-brand-wrap .top-brand,
.banner-brand-wrap .bottom-brand, .banner-wrap, .slider-option .slide-2,
.slider-option .slide-3, .top-menu > li:last-child a:after, .top-menu > li:last-child a, .left-top-header .product-menu .form .search-btn, .left-top-header .product-menu .form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .card-actions, .card .card-charasters, .main-menu ul, .left-top-header .product-menu .catalog-wrap, .top-header {
  display: flex;
  justify-content: space-between;
}

.tab-menu .title-tab:before, .slider-option .slick-dots li button:before, .top-menu > li:nth-child(1) div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.cripto-tape, .top-wrap {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
}

.main-menu ul > li:nth-child(2) span, .top-menu > li:nth-child(2) span {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -14px;
  width: 9px;
  height: 6px;
  cursor: pointer;
}

.slider-product-options .slick-arrow:before, .tab-menu .title-tab:before, .card .card-compare svg path,
.card .card-heard svg path, .call-menu,
.lang-menu,
.service-menu, .slider-option .slick-dots li button:before, .top-menu > li:nth-child(3) > a svg path, .top-menu > li:nth-child(4) > a svg path, .left-top-header .product-menu .form .search-btn path, button, a {
  transition: all 0.3s linear;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "museo";
  color: #333;
  font-weight: 600;
  font-size: 14px;
  line-height: 23px;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.col-2x {
  width: 50%;
  padding-left: 10px;
  padding-right: 10px;
}

.col-3x {
  width: 33.33%;
  padding-left: 10px;
  padding-right: 10px;
}

.col-4x {
  width: 25%;
  padding-left: 10px;
  padding-right: 10px;
}

.col-5x {
  width: 20%;
  padding-left: 10px;
  padding-right: 10px;
}

.col-6x {
  width: 16.666%;
  padding-left: 10px;
  padding-right: 10px;
}

.container {
  width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.section {
  padding-bottom: 80px;
}

.section-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 0.04em;
}

.block-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.top-header {
  padding-top: 14px;
  padding-bottom: 14px;
  align-items: center;
}
.top-header .logo {
  width: 162px;
  margin-right: 60px;
}

.left-top-header {
  display: flex;
  align-items: center;
}
.left-top-header .product-menu {
  display: flex;
}
.left-top-header .product-menu .catalog-wrap {
  margin-right: 20px;
  width: 200px;
  height: 50px;
  border-radius: 51px;
  color: #FFFFFF;
  align-items: center;
  background-image: linear-gradient(105.86deg, #FF6A16 -14.72%, #FFA216 111.57%);
}
.left-top-header .product-menu .catalog-wrap .catalog {
  margin-left: 20px;
  font-size: 14px;
  position: relative;
}
.left-top-header .product-menu .catalog-wrap .catalog:hover {
  color: #F34FC5;
}
.left-top-header .product-menu .catalog-wrap .catalog:hover:after {
  position: absolute;
  color: white;
  top: 110%;
  left: 100%;
  content: attr(data-title);
  background-color: #8787aa;
  padding: 6px;
  border-radius: 10px;
  white-space: pre;
  z-index: 100;
  border-top-left-radius: 0px;
}
.left-top-header .product-menu .catalog-wrap .burger-menu {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #333;
  margin-right: 20px;
  border: none;
  padding: 8px;
}
.left-top-header .product-menu .catalog-wrap .burger-menu:hover {
  transform: scale(1.1);
}
.left-top-header .product-menu .catalog-wrap .burger-menu span {
  background-color: white;
  display: block;
  width: 100%;
  border-bottom: solid 1px white;
  border-radius: 1px;
}
.left-top-header .product-menu .catalog-wrap .burger-menu span:nth-of-type(2) {
  margin-top: 3px;
  margin-bottom: 3px;
}
.left-top-header .product-menu .form {
  width: 310px;
  height: 50px;
  border-radius: 58px;
  background-color: #F8F8FA;
  color: #333;
  justify-content: stretch;
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.left-top-header .product-menu .form .search-btn {
  width: 60px;
  height: 100%;
  border: none;
  background-color: transparent;
}
.left-top-header .product-menu .form .search-btn path {
  fill: #C7CED5;
}
.left-top-header .product-menu .form .search-btn:hover path {
  fill: #333;
}
.left-top-header .product-menu .form .input-box {
  width: 100%;
  height: 100%;
}
.left-top-header .product-menu .form .input-box input {
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}
.left-top-header .product-menu .form .input-box input::placeholder {
  color: #C7CED5;
}

.top-menu {
  display: flex;
  align-items: center;
}
.top-menu > li {
  position: relative;
  margin-right: 20px;
}
.top-menu > li:nth-child(1) {
  background-image: linear-gradient(105.86deg, #FF6A16 -14.72%, #FFA216 111.57%);
  font-size: 14px;
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
  margin-right: 34px;
}
.top-menu > li:nth-child(1) div {
  bottom: -3px;
  border-bottom: 1px dashed white;
  background: linear-gradient(white, white) padding-box, linear-gradient(105.86deg, #FF6A16 -14.72%, #FFA216 111.57%) border-box;
  z-index: -1;
}
.top-menu > li:nth-child(1):before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -35px;
  width: 24px;
  height: 24px;
  background-image: url(../images/index/phone_1.svg);
}
.top-menu > li:nth-child(1) span {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -14px;
  width: 9px;
  height: 6px;
  background-image: url(../images/index/ok.svg);
  cursor: pointer;
}
.top-menu > li:nth-child(2) {
  padding-left: 20px;
  padding-right: 34px;
  border-left: 2px solid #F8F8FA;
  border-right: 2px solid #F8F8FA;
}
.top-menu > li:nth-child(2) span {
  background-image: url("../images/index/ok-black.svg");
  right: 23px;
}
.top-menu > li:nth-child(3) > a svg path, .top-menu > li:nth-child(4) > a svg path {
  fill: #D5D5D5;
}
.top-menu > li:nth-child(3) > a:hover svg path, .top-menu > li:nth-child(4) > a:hover svg path {
  fill: #FFA216;
}
.top-menu > li:last-child {
  margin-right: 0;
}
.top-menu > li:last-child a {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  background-image: linear-gradient(105.86deg, #FF6A16 -14.72%, #FFA216 111.57%);
}
.top-menu > li:last-child a:hover {
  background-image: linear-gradient(35.86deg, #FF6A16 -14.72%, #FFA216 11.57%);
}
.top-menu > li:last-child a:after {
  content: attr(data-bage);
  position: absolute;
  top: 10px;
  right: 10px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #333;
  color: white;
  font-size: 10.5469px;
  line-height: 13px;
  font-family: "gilroy";
}

.main-menu {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  letter-spacing: 0.04em;
}
.main-menu a:hover {
  color: #FFA216;
}
.main-menu ul {
  padding-left: 155px;
  padding-right: 155px;
}
.main-menu ul > li {
  margin-top: 20px;
  margin-bottom: 20px;
}
.main-menu ul > li:nth-child(2) {
  position: relative;
}
.main-menu ul > li:nth-child(2) span {
  background-image: url(../images/index/ok-black.svg);
}

.face-wrap {
  display: flex;
  margin-bottom: 10px;
}

.slider-option {
  flex-grow: 1;
  height: 100%;
  width: 75%;
}
.slider-option .slide-2,
.slider-option .slide-3 {
  background-color: blue;
  height: 600px;
}
.slider-option .slick-arrow {
  position: absolute;
  z-index: 10;
  top: 20%;
  bottom: 20%;
  background-color: transparent;
  width: 300px;
  border: none;
  font-size: 0;
}
.slider-option .slick-prev {
  position: absolute;
  left: 0;
  right: 75%;
}
.slider-option .slick-next {
  right: 0px;
  left: 68%;
}
.slider-option .slick-dots {
  position: absolute;
  display: flex;
  justify-content: stretch;
  bottom: 30px;
  left: 0;
  right: 0;
}
.slider-option .slick-dots li {
  width: 100%;
  padding-left: 18px;
  padding-right: 18px;
}
.slider-option .slick-dots li button {
  position: relative;
  background-color: transparent;
  display: block;
  width: 100%;
  font-size: 0;
  height: 10px;
  border: none;
  border-bottom: solid 1px silver;
}
.slider-option .slick-dots li button:before {
  content: "";
  border-bottom: 2px solid white;
  right: 100%;
}
.slider-option .slick-dots li button:hover:before {
  right: 0;
}

.banner-wrap {
  height: 100%;
  border-radius: 20px;
  padding-top: 32px;
  padding-bottom: 50px;
  flex-direction: column;
  background-image: url("../images/index/face-page/bunner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 1px 1px;
}

.banner-logo {
  width: 182px;
  margin-bottom: 47px;
}

.banner-decor-text {
  width: 610px;
  margin-bottom: 35px;
}

.banner-title {
  font-weight: 700;
  font-size: 34.5px;
  line-height: 49px;
  /* identical to box height, or 143% */
  color: white;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.banner-title span {
  color: #FF6A16;
}

.banner-brand-wrap {
  margin-bottom: 18px;
}
.banner-brand-wrap .top-brand {
  margin-bottom: 10px;
}
.banner-brand-wrap .banner-brand {
  width: 150px;
  margin: 4px 20px;
}

.info-block {
  width: 25%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
}

.info-box {
  display: flex;
  background-color: #F8F8FA;
  background: #333333;
  border-radius: 20px;
  color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}
.info-box a:hover {
  color: #FFA216;
}
.info-box:not(:last-of-type) {
  margin-bottom: 10px;
}
.info-box .info-content {
  flex-grow: 1;
}
.info-box .info-content .info-users {
  width: 78px;
  height: 30px;
  border-radius: 60px;
  background-color: transparent;
  color: white;
  background-image: linear-gradient(105.86deg, #FF6A16 -14.72%, #FFA216 111.57%);
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}
.info-box .info-image {
  flex-shrink: 0;
  width: 110px;
}

.call-menu,
.lang-menu,
.service-menu {
  z-index: 100;
  position: absolute;
  top: 100%;
  left: -2px;
  bottom: 0px;
  right: -3px;
  text-align: center;
  background: white;
  background-clip: border-box;
  color: orange;
  overflow: hidden;
  visibility: hidden;
}
.call-menu.active,
.lang-menu.active,
.service-menu.active {
  bottom: -50px;
  visibility: visible;
}

.lang-menu {
  color: inherit;
}

.service-menu {
  color: inherit;
}
.service-menu.active {
  bottom: -70px;
}

.cripto-tape {
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
}

.cripto-column {
  padding: 0;
}
.cripto-column:not(:last-child) {
  border-right: 2px solid #F8F8FA;
}

.coin .coin-image {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  background-image: url(../images/index/cripto/css_sprites.png);
  margin-right: 22px;
}
.coin .coin-header {
  text-transform: uppercase;
}
.coin .coin-price {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #7D8389;
}
.coin .coin-price span {
  display: inline-flex;
  margin-left: 5px;
  width: 45px;
  height: 20px;
  border-radius: 10px;
  background-color: inherit;
  color: inherit;
}
.coin .coin-price span.fall {
  background-color: rgba(255, 78, 22, 0.1);
  color: #FF6A16;
}
.coin .coin-price span.fall:before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-image: url(../images/index/cripto/fall.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.coin .coin-price span.up {
  background-color: rgba(12, 200, 114, 0.1);
  color: #009953;
}
.coin .coin-price span.up:before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-image: url(../images/index/cripto/up.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.bg-bitcoin {
  background-position: -10px -10px;
}

.bg-dogecoin {
  background-position: -54px -10px;
}

.bg-ethereum {
  background-position: -10px -54px;
}

.bg-litecoin {
  background-position: -54px -54px;
}

.bg-monero {
  background-position: -98px -10px;
}

.bg-zcash {
  background-position: -98px -54px;
}

.service-tape {
  padding-top: 40px;
  padding-bottom: 80px;
}

.service {
  display: flex;
  align-items: center;
}
.service .service-image {
  width: 50px;
  margin-right: 20px;
}
.service .service-header {
  weight: 400;
  white-space: pre-line;
}

.iron-wrap {
  display: flex;
}

.iron-column {
  transition: all 0.3s linear;
  background-image: linear-gradient(105.86deg, rgba(255, 106, 22, 0) -14.72%, rgba(228, 29, 29, 0) 56.32%, rgba(255, 162, 22, 0) 111.57%);
  background-color: #F8F8FA;
  border-radius: 20px;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}
.iron-column:hover {
  background-image: linear-gradient(105.86deg, #ff6a16 -14.72%, #e41d1d 56.32%, #FFA216 111.57%);
  color: white;
}
.iron-column:hover .iron-content .link-wrap {
  border-bottom: white dashed 1px;
}
.iron-column:hover .iron-content .link-wrap .iron-link {
  color: white;
}
.iron-column .iron-image {
  margin-left: auto;
  flex-shrink: 0;
}
.iron-column .iron-content {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
  flex-grow: 1;
}
.iron-column .iron-content .iron-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 20px;
}
.iron-column .iron-content .link-wrap {
  border-bottom: dashed #FF6A16 1px;
  display: inline-block;
  margin-bottom: 30px;
}
.iron-column .iron-content .link-wrap:hover {
  transform: scale(1.2);
}
.iron-column .iron-content .link-wrap .iron-link {
  display: inline-block;
  -webkit-background-clip: text;
  background-image: linear-gradient(105.86deg, #FF6A16 -14.72%, #E41D1D 56.32%, #FFA216 111.57%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 400;
}

.mining {
  width: 530px;
  margin-right: 20px;
}
.mining .iron-image {
  width: 200px;
}

.wallet {
  width: 420px;
  margin-right: 20px;
}
.wallet .iron-image {
  width: 130px;
  display: flex;
  align-items: flex-end;
}

.details {
  position: relative;
  width: 310px;
}
.details .iron-image {
  width: 140px;
  position: absolute;
  top: 0;
  right: 0;
  border-top-right-radius: 10px;
  overflow: hidden;
}

.product-section {
  padding-top: 5px;
}

.product-wrap {
  display: flex;
}

.discount-product-column {
  text-align: center;
  width: 25%;
  flex-shrink: 0;
  flex-grow: 0;
  padding-right: 20px;
}

.product-range {
  flex-grow: 1;
  width: 75%;
  position: relative;
}

.card {
  position: relative;
  border-radius: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  padding: 18px;
  margin-bottom: 10px;
}
.card .card-sticers {
  position: absolute;
  top: 15px;
  right: 10px;
}
.card .card-sticers * {
  color: #FFFFFF;
  text-align: center;
  padding: 5px;
  border-radius: 7px 0 7px 7px;
}
.card .card-hit {
  background: radial-gradient(110% 110% at 4.55% 3.33%, #D592FF 0%, #D80AAA 100%);
  box-shadow: 0px 4px 10px rgba(230, 17, 183, 0.2);
}
.card .card-sale {
  box-shadow: 0px 4px 4px rgba(255, 90, 19, 0.2);
  background: radial-gradient(98.33% 205.33% at 4.55% 5%, #FF9F0F 0%, #FF4E16 100%);
  margin-bottom: 5px;
}
.card .card-super-discount {
  background-image: linear-gradient();
  background: linear-gradient(98.99deg, #FF6A16 17.78%, #E41D1D 60.58%, #FFA216 93.87%);
}
.card .card-image {
  margin: auto;
  width: 145px;
  margin-bottom: 20px;
}
.card .card-charasters {
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 14px;
}
.card .card-charasters .card-credit,
.card .card-charasters .card-power,
.card .card-charasters .card-voltage {
  padding: 5px;
  background: #F8F8FA;
  border-radius: 31px;
  color: #2A3342;
}
.card .card-charasters .card-credit::before,
.card .card-charasters .card-power::before,
.card .card-charasters .card-voltage::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  background-size: contain;
  background-repeat: no-repeat;
}
.card .card-charasters .card-credit:before {
  background-image: url(../images/index/cattalog-page/money.svg);
}
.card .card-charasters .card-power:before {
  background-image: url(../images/index/cattalog-page/volt.svg);
}
.card .card-charasters .card-voltage:before {
  background-image: url(../images/index/cattalog-page/rossete.svg);
}
.card .card-title {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px;
}
.card .card-rating {
  margin-bottom: 20px;
}
.card .card-rating .all-response {
  color: #7D8389;
  margin-left: 10px;
}
.card .card-rating * {
  display: inline-block;
}
.card .card-rating [class*=rating]:hover > .star svg path {
  fill: green;
}
.card .card-rating svg path {
  fill: #C7CED5;
}
.card .card-rating .rating-5 > .star svg path,
.card .card-rating .rating-4 > .star svg path,
.card .card-rating .rating-3 > .star svg path {
  fill: #FFCB21;
}
.card .card-price {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 20px;
}
.card .card-price.discount {
  color: #FF6A16;
}
.card .card-price .old-price {
  display: inline-block;
  padding-left: 10px;
  font-size: 16px;
  text-decoration-line: line-through;
  color: #7D8389;
}
.card .card-actions {
  align-items: center;
}
.card .card-actions a {
  display: inline-block;
}
.card .card-actions .card-basket {
  width: 190px;
  height: 50px;
  border-radius: 60px;
  background-color: transparent;
  color: #FF6A16;
  border: solid 2px;
}
.card .card-actions .card-basket.card-charasters {
  background: linear-gradient(105.86deg, #FF6A16 -14.72%, #E41D1D 56.32%, #FFA216 111.57%);
  color: white;
  border: white solid 2px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
.card .card-actions .card-basket.card-charasters:hover {
  background-color: white;
  color: #333;
  background-image: none;
  border-color: #FF4E16;
}
.card .card-actions .card-basket:hover {
  background-color: #FF6A16;
  color: white;
}
.card a:hover {
  color: #FFA216;
}
.card .card-compare,
.card .card-heard {
  margin-left: 20px;
}
.card .card-compare svg path,
.card .card-heard svg path {
  fill: #333;
}
.card .card-compare:hover svg path,
.card .card-heard:hover svg path {
  fill: #FFA216;
}
.card .card-time-out {
  color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: -20px;
  background: linear-gradient(98.99deg, #FF6A16 17.78%, #E41D1D 60.58%, #FFA216 93.87%);
}

.discount-card {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
.discount-card .card-charasters {
  padding-left: 20px;
  padding-right: 20px;
}

.tab-menu {
  height: 60px;
  border-bottom: 2px solid #F8F8FA;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 22px;
  line-height: 40px;
  display: flex;
  color: #C7CED5;
}
.tab-menu .title-tab {
  margin-left: 40px;
  position: relative;
}
.tab-menu .title-tab:before {
  content: "";
  top: calc((100%) - 2px);
  height: 2px;
  background-color: #FF6A16;
  right: 100%;
}
.tab-menu .title-tab:hover, .tab-menu .title-tab.active {
  color: #333333;
}
.tab-menu .title-tab:hover:before, .tab-menu .title-tab.active:before {
  right: 0%;
}

.tabsWrap .tabItem:not(.active) {
  display: none;
}

.slide-product {
  border-radius: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.slider-product-options.slick-slider {
  position: static;
}
.slider-product-options .slick-arrow {
  position: absolute;
  top: -9px;
  border: none;
  font-size: 0;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #F8F8FA;
  color: #C7CED5;
}
.slider-product-options .slick-arrow:hover:before {
  border-color: #FF6A16;
}
.slider-product-options .slick-arrow:before {
  content: "";
  display: flex;
  width: 15px;
  height: 15px;
  border-bottom: solid;
  border-left: solid;
  z-index: 10;
}
.slider-product-options .slick-arrow.slick-prev {
  right: 60px;
  transform: rotate(45deg);
  z-index: 11;
}
.slider-product-options .slick-arrow.slick-next {
  right: 0px;
  transform: rotate(-135deg);
  z-index: 11;
}

.product-list {
  height: 300px;
  background-color: blue;
}

.brand-section .section-title {
  margin-bottom: 40px;
}

.brand-box {
  background: #F8F8FA;
  border-radius: 20px;
  height: 110px;
}
.brand-box .image-box {
  width: 131px;
}

.telegram-section {
  position: relative;
  overflow: hidden;
  color: white;
  padding-top: 80px;
}

.telegram-menu {
  display: flex;
  margin-bottom: 40px;
  position: relative;
  z-index: 100;
}
.telegram-menu li {
  display: inline-block;
  margin-right: 5px;
}
.telegram-menu li a {
  display: inline-block;
  padding: 15px 20px;
  background: #FFFFFF;
  border-radius: 60px;
  color: #FF6A16;
  white-space: pre;
}
.telegram-menu li a:hover, .telegram-menu li a.active {
  background: #333333;
  color: white;
}

.telegram-column {
  width: 400px;
}
.telegram-column .section-title {
  text-align: left;
  margin-bottom: 10px;
}
.telegram-column .section-text {
  margin-bottom: 40px;
}
.telegram-column .link-telegram {
  font-weight: 700;
  display: flex;
  align-items: center;
}
.telegram-column .link-telegram:hover {
  text-decoration: underline;
}
.telegram-column .link-telegram:before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 50%;
  background-image: url(../images/index/telegram-page/telegram-dark.png);
  background-size: 15px;
  background-position: 3px center;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.telegram-wrap {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 40px 20px 60px;
  background: radial-gradient(circle at 0% 0%, #F34FC5, #FF6A16, #FFA216 100%);
  margin-bottom: 4px;
}

.telegram-decor {
  position: absolute;
  right: 215px;
  top: 17px;
  z-index: 1;
}

.mobile-image {
  width: 410px;
}

.telegram-decor .box-coin {
  position: absolute;
}
.telegram-decor .item-1 {
  width: 64px;
  top: 63px;
  right: -22px;
  z-index: -2;
}
.telegram-decor .item-2 {
  width: 77px;
  top: 218px;
  left: -118px;
  z-index: 6;
}
.telegram-decor .item-3 {
  width: 180px;
  z-index: 6;
  bottom: 141px;
  right: 11px;
}

.firmware-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.firmware-content,
.graph-content {
  margin-left: 130px;
}
.firmware-content .section-title,
.graph-content .section-title {
  text-align: left;
  margin-bottom: 10px;
}
.firmware-content .section-subtitle,
.graph-content .section-subtitle {
  background: linear-gradient(105.86deg, #FF6A16 -14.72%, #FFA216 111.57%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 30px;
}
.firmware-content .section-text,
.graph-content .section-text {
  margin-bottom: 30px;
}
.firmware-content .section-text p:not(:first-child),
.graph-content .section-text p:not(:first-child) {
  font-weight: 400;
}
.firmware-content .graph-link,
.graph-content .graph-link {
  display: inline-block;
  padding: 15px 35px;
  background: #333333;
  border-radius: 60px;
  color: #FFFFFF;
}
.firmware-content .graph-link:hover,
.graph-content .graph-link:hover {
  background-color: #FFA216;
}

.chapaster-wrap {
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 40px;
}
.chapaster-wrap .chapaster-item {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  background: #F9F9FE;
  border-radius: 10px;
}
.chapaster-wrap .chapaster-item .chapaster-image {
  width: 40px;
  margin-right: 10px;
}

.firmware-box {
  background-image: radial-gradient(ellipse at center, rgba(255, 106, 22, 0.1) 40%, rgba(244, 0, 191, 0.1), white 70%);
}

.graph-section {
  background-image: radial-gradient(circle 400px at 86% bottom, #f400bf1a, white);
}

.graph-content {
  width: 420px;
  margin-left: 0px;
  margin-top: 70px;
}
.graph-content .section-text {
  font-weight: 400;
  margin-bottom: 0px;
}

.guarantee-section {
  color: white;
}

.guarantee-wrap {
  background-color: #333333;
  border-radius: 20px;
  margin-bottom: 10px;
}

.guarantee-box {
  min-height: 380px;
  padding: 70px 50px;
}
.guarantee-box .section-title {
  text-align: left;
  margin-bottom: 10px;
}
.guarantee-box .section-text {
  margin-bottom: 30px;
}
.guarantee-box .section-link {
  padding: 15px 35px;
  background: linear-gradient(105.86deg, #FF6A16 -14.72%, #FFA216 111.57%);
  border-radius: 60px;
}
.guarantee-box .section-link:hover {
  background-image: none;
  background-color: white;
  color: #FFA216;
}

.guarantee-wrap .col-2x {
  display: flex;
  align-items: flex-end;
  justify-content: right;
}
.guarantee-wrap .col-2x .guarantee-image {
  margin-right: 50px;
  width: 350px;
  position: relative;
}
.guarantee-wrap .col-2x .guarantee-image .shield {
  position: absolute;
  bottom: 6px;
  left: -191px;
  width: 300px;
}

.guarantee-item {
  background: #333333;
  border-radius: 20px;
  padding: 40px 40px 40px 20px;
  display: flex;
  position: relative;
}

.tariff .number {
  font-weight: 700;
  font-size: 181.77px;
  line-height: 0.8;
  letter-spacing: -0.13em;
  color: #FF6A16;
  position: relative;
  z-index: 1;
}
.tariff .number .month {
  padding-left: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.04em;
}
.tariff .tariff-name {
  font-weight: 600;
  font-size: 20.0201px;
  line-height: 24px;
  letter-spacing: 0.04em;
  padding-left: 7px;
}
.tariff .closer {
  position: relative;
  z-index: 3;
  text-shadow: 9px 5px 11px rgba(0, 0, 0, 0.25);
}

.tariff-list {
  margin-left: auto;
}
.tariff-list .tariff-price {
  position: absolute;
  top: 8px;
  right: 10px;
  padding: 10px 12px;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.04em;
  background: linear-gradient(105.86deg, #FF6A16 -14.72%, #FFA216 111.57%);
  box-shadow: 0px 4px 4px rgba(255, 90, 19, 0.2);
  border-radius: 10px;
}
.tariff-list ul li {
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #C7CED5;
  margin-bottom: 10px;
  display: flex;
  align-content: center;
}
.tariff-list ul li.check-item {
  color: #fff;
}
.tariff-list ul li.check-item:before {
  background-image: radial-gradient(circle 6px, #FF6A16 0px, #FFA216 5px, transparent);
  background-color: rgba(255, 106, 22, 0.2);
}
.tariff-list ul li:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin-right: 10px;
  background-image: radial-gradient(circle 6px, #C7CED5 0px, #C7CED5 5px, transparent);
  background-color: rgba(199, 206, 213, 0.2);
}

.gradient-bottom {
  background-image: radial-gradient(circle 600px at right bottom, rgba(255, 77, 0, 0.4), rgba(255, 77, 0, 0.1), transparent);
}

.gradient-top {
  background-image: radial-gradient(circle 600px at right top, rgba(255, 77, 0, 0.4), rgba(255, 77, 0, 0.1), transparent);
}

.news-section .section-title {
  margin-bottom: 40px;
}

.news {
  margin-bottom: 20px;
}
.news .news-image {
  background: #F2F2F2;
  border-radius: 20px;
  position: relative;
  margin-bottom: 20px;
}
.news .news-image .bage-wrap {
  position: absolute;
  left: 20px;
  top: 20px;
}
.news .news-image .bage-wrap .bage {
  display: inline-block;
  padding: 5px 10px;
  background: #333333;
  color: white;
  border-radius: 60px;
}
.news .news-content .news-title {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 10px;
}
.news .news-content .news-title:hover {
  color: #FFA216;
}
.news .news-content .news-date {
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #7D8389;
}

.news-link {
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(105.86deg, #FF6A16 -14.72%, #FFA216 111.57%);
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  border: solid 2px #FFA216;
  border-radius: 60px;
}
.news-link:hover {
  background-clip: content-box;
  color: white;
}

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #333333;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: #7D8389;
}
.footer a {
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;
}
.footer a:hover {
  text-decoration: underline;
}

.footer-wrap {
  position: relative;
  display: grid;
  grid-template-columns: 315px 1fr 1fr 1fr 315px;
}

.logo-footer {
  width: 200px;
  margin-bottom: 40px;
}

.pray {
  margin-bottom: 30px;
}

.pray-wrap {
  display: flex;
  width: 175px;
}
.pray-wrap a:hover {
  transform: scale(1.1);
}

.footer-link {
  font-size: 14px;
  line-height: 25px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  margin-bottom: 10px;
  display: block;
}

.copyright {
  margin-top: 30px;
}

.footer .column .footer-list:not(:last-child) {
  margin-bottom: 30px;
}

.footer-header {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.04em;
  background: linear-gradient(105.86deg, #FF6A16 -14.72%, #FFA216 111.57%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 20px;
}

.footer-list ul li {
  margin-bottom: 10px;
}

.contact-column .contact-footer {
  display: flex;
  align-items: center;
}
.contact-column .contact-image {
  margin-right: 10px;
}
.contact-column .link-map {
  color: #FFA216;
  text-decoration: dashed underline;
}

.footer-address {
  color: white;
}

.contact-block {
  margin-bottom: 40px;
}

.social-block .soc-text {
  color: #FFA216;
  margin-bottom: 10px;
}
.social-block .social-image {
  display: inline-block;
  width: 34px;
  margin-right: 5px;
}
.social-block .social-image:hover {
  transform: scale(1.1);
}

.arrow-up {
  position: absolute;
  right: 0;
  top: -30px;
  width: 50px;
  height: 50px;
  background: linear-gradient(105.86deg, #FF6A16 -14.72%, #FFA216 111.57%);
  box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.19);
  border-radius: 80px;
  transform: translate(0, -50%);
}

.navigation {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  color: #C7CED5;
  margin-bottom: 10px;
}
.navigation a:not(:first-of-type):before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #C7CED5;
  margin-right: 10px;
}
.navigation a {
  display: inline-block;
  margin-right: 10px;
  fill: none;
}
.navigation a:hover {
  color: #FFA216;
  fill: #FFA216;
}

.col-50 {
  width: 50%;
}

.col-25 {
  width: 25%;
}

.col-75 {
  width: 75%;
  padding-left: 10px;
  padding-right: 10px;
}

.proposal-wrap {
  position: relative;
}
.proposal-wrap .proposal {
  display: flex;
  background: center center no-repeat url(../images/left-tape.png), right center no-repeat url(../images/right-tape.png), linear-gradient(90deg, rgba(51, 51, 51, 0.4), #333333 35%, #333333 75%, rgba(51, 51, 51, 0.4)), linear-gradient(92.22deg, #ff6a16 48.13%, #ffa216 84.52%);
  color: white;
  box-shadow: 0px 18px 40px rgba(64, 24, 1, 0.68);
  border-radius: 20px;
  margin-bottom: 40px;
}
.proposal-wrap .proposal .proposal-info {
  padding-top: 30px;
  padding-left: 60px;
}
.proposal-wrap .proposal .proposal-info .proposal-title {
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.04em;
  margin-bottom: 10px;
}
.proposal-wrap .proposal .proposal-info .proposal-conditions {
  display: flex;
  margin-bottom: 20px;
}
.proposal-wrap .proposal .proposal-info .proposal-price {
  background: linear-gradient(98.99deg, #FF6A16 17.78%, #E41D1D 60.58%, #FFA216 93.87%);
  box-shadow: 0px 4px 4px rgba(255, 90, 19, 0.2);
  border-radius: 8px;
  padding: 10px;
  display: inline-block;
  font-size: 24px;
  line-height: 20px;
  margin-right: 20px;
}
.proposal-wrap .proposal .proposal-info .proposal-price .old-price {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration-line: line-through;
}
.proposal-wrap .proposal .proposal-info .proposal-time-out {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.proposal-wrap .proposal .proposal-info .proposal-time-out span {
  display: block;
  color: #FF6A16;
}
.proposal-wrap .proposal .proposal-img {
  position: absolute;
  bottom: 0px;
  width: 280px;
}
.proposal-wrap .proposal .proposal-link-column .proposal-link {
  display: block;
  padding: 15px 55px;
  background: #333333;
  border-radius: 60px;
  font-size: 14px;
  line-height: 20px;
}
.proposal-wrap .proposal .proposal-link-column .proposal-link:hover {
  color: #333;
  background-color: white;
}

.widget {
  margin-bottom: 20px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 20px;
}
.widget.opened .widget-content {
  max-height: 500px;
  transition: all 1s linear;
}
.widget.opened .widget-title {
  color: #FFA216;
}
.widget.opened .widget-title:after {
  transform: rotate(45deg);
  border-color: #E41D1D;
}
.widget .widget-title {
  cursor: pointer;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.widget .widget-title:after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border: solid 2px;
  border-left: transparent;
  border-top: transparent;
  transform: rotate(-45deg);
  cursor: pointer;
  transition: all 0.6s linear;
}
.widget .widget-content {
  transition: all 0.6s linear;
  overflow: hidden;
  max-height: 0px;
}
.widget .widget-content .categorias-list li {
  margin-bottom: 5px;
}
.widget .widget-content .categorias-list li a {
  display: block;
  padding: 9px 15px 7px;
  border-radius: 60px;
}
.widget .widget-content .categorias-list li a:hover {
  color: #FF4E16;
  background: #F8F8FA;
}

.filter-item .check-control {
  display: flex;
  align-items: center;
}
.filter-item .check-control input {
  display: none;
}
.filter-item .check-control input:checked + .indicator:before {
  opacity: 1;
}
.filter-item .check-control.check-control-checkbox .indicator {
  border-radius: 4px;
}
.filter-item .check-control.check-control-checkbox .indicator:before {
  border-radius: inherit;
}
.filter-item .check-control.check-control-radio .indicator {
  border-radius: 50%;
}
.filter-item .check-control.check-control-radio .indicator:before {
  border-radius: inherit;
}
.filter-item .check-control .indicator {
  display: inline-flex;
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid #F8F8FA;
  margin-right: 10px;
}
.filter-item .check-control .indicator:before {
  content: "";
  opacity: 0;
  display: block;
  width: 12px;
  height: 12px;
  background: linear-gradient(105.86deg, #FF6A16 -14.72%, #FFA216 111.57%);
}
.filter-item .check-control .label-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.filter-item .check-control .label-text .count {
  display: inline-block;
  color: #7D8389;
  margin-left: 10px;
}

.filter-item {
  margin-bottom: 10px;
}

.price-item {
  display: flex;
}
.price-item .price-control {
  margin-right: 10px;
  border: 2px solid #F8F8FA;
  border-radius: 4px;
}
.price-item .price-control:focus-within {
  border: solid 1px #FFA216;
}
.price-item .price-control input {
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px;
  outline: none;
  -moz-appearance: textfield;
  border: none;
}
.price-item .price-control input::-webkit-outer-spin-button,
.price-item .price-control input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.sidebar-section-title {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 30px;
}

.btn-submit {
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background: linear-gradient(105.86deg, #FF6A16 -14.72%, #FFA216 111.57%);
  border-radius: 60px;
  margin-bottom: 40px;
  border: none;
  color: white;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
.btn-submit:hover {
  background: linear-gradient(105.86deg, #FFA216 -14.72%, #FF6A 111.57%);
}

.content-wrap-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.content-wrap-header .catalog {
  font-size: 40px;
  line-height: 50px;
  /* identical to box height, or 125% */
  letter-spacing: 0.04em;
}
.content-wrap-header .sort {
  border: 2px solid #F8F8FA;
  border-radius: 100px;
  padding: 10px 20px;
}
.content-wrap-header .sort select {
  border: none;
  background-color: white;
}

.mb-80px {
  margin-bottom: 80px;
}

.seo-section {
  border-top: 2px #F8F8FA;
  padding-top: 40px;
  padding-bottom: 80px;
}
.seo-section .seo-title {
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.04em;
  margin-bottom: 20px;
}

.paragraph-item .seo-subtitle {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 10px;
}
.paragraph-item .seo-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
}
.paragraph-item .seo-text p {
  margin-bottom: 30px;
}

.seo-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;
  background: linear-gradient(105.86deg, #FF6A16 -14.72%, #E41D1D 56.32%, #FFA216 111.57%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  text-decoration: underline dashed #E41D1D;
}
.seo-link:hover {
  text-decoration: underline wavy #E41D1D;
}

.filter {
  display: inline-block;
  color: #7D8389;
  border: solid 2px;
  padding: 15px 25px;
  border-radius: 20px;
  cursor: pointer;
  display: none;
}
.filter:hover {
  color: #FFA216;
}

.hidden-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 50%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  transition: transform, 0.9s linear;
  transform: translateX(100%);
}
.hidden-menu.active {
  transform: translateX(0%);
}